<div class="container bikes">
    <div class="row" ng-repeat="class in $ctrl.classes">

        <label><input type="checkbox" ng-model="class.checked" ng-change="$ctrl.filterChange()">{{class.name}}</label>

    </div>

    <div class="row bike-row">

        <div class="col-md-3 bike" ng-repeat="bike in $ctrl.bikes | filter:$ctrl.filterBikes">

            <img src="{{bike.image.thumb}}">
            <br/>
            <h3>{{bike.name}}</h3>
            <p>{{bike.description}}</p>

        </div>

    </div>

</div>
