<div class="container bikes">

    <div class="row">

        <div class="col-md-12">

            <h1>Bikes</h1>

            <label class="class-label">Bike Class:</label>
            <label class="class-label" ng-repeat="class in $ctrl.classes">
                <input type="checkbox" ng-model="class.checked" ng-change="$ctrl.filterChange()">{{class.name}}
            </label>

            <p class="class-info">Click on a bike to see a bigger version!</p>
        </div>

    </div>

    <div class="row bike-row">

        <div class="col-md-3 bike" ng-click="$ctrl.bikePopup(bike)" ng-repeat="bike in $ctrl.bikes | filter:$ctrl.filterBikes">

            <img src="{{bike.image.thumb}}">
            <br/>
            <h3>{{bike.name}}</h3>
            <p>{{bike.description}}</p>

            <p class="bike-class">
                <span ng-repeat="class in bike.class">{{class}}{{!$last ? ', ' : ''}}</span>
            </p>
        </div>

    </div>

</div>
